<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Food Timetable</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"  >
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>


    <section id="title">
      <div class="title">

        <h1>The Food Timetable<i> </i></i><i class="fas fa-table"></i></h1>
        <p>Get a great combination of your meals</p>
      </div>

    </section>

    <section id="table" class="table">

      <div class="table-container">
        <div class="row">
          <div class="col-lg-3">
            <label for=""></label>
          </div>
          <div class="col-lg-3">
            <label for=""><em>Breakfast</em></label>
          </div>
          <div class="col-lg-3">
            <label for=""><em>Lunch</em></label>
          </div>
          <div class="col-lg-3">
            <label for=""><em>Dinner</em></label>
          </div>
          </div>
        <div class="row">
          <div class="col-lg-3">
            <label for="">Monday</label>
          </div>
          <div class="col-lg-3">
            <p><%=bm%></p>
          </div>
          <div class="col-lg-3">
            <p><%=lm%></p>
          </div>
          <div class="col-lg-3">
            <p><%=dm%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <label for="">Tuesday</label>
          </div>
          <div class="col-lg-3">
            <p><%=bt%></p>
          </div>
          <div class="col-lg-3">
            <p><%=lt%></p>
          </div>
          <div class="col-lg-3">
            <p><%=dt%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <label for="">Wednesday</label>
          </div>
          <div class="col-lg-3">
            <p><%=bw%></p>
          </div>
          <div class="col-lg-3">
            <p><%=lw%></p>
          </div>
          <div class="col-lg-3">
            <p><%=dw%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <label for="">Thursday</label>
          </div>
          <div class="col-lg-3">
            <p><%=bth%></p>
          </div>
          <div class="col-lg-3">
            <p><%=lth%></p>
          </div>
          <div class="col-lg-3">
            <p><%=dth%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <label for="">Friday</label>
          </div>
          <div class="col-lg-3">
            <p><%=bf%></p>
          </div>
          <div class="col-lg-3">
            <p><%=lf%></p>
          </div>
          <div class="col-lg-3">
            <p><%=df%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <label for="">Saturday</label>
          </div>
          <div class="col-lg-3">
            <p><%=bsa%></p>
          </div>
          <div class="col-lg-3">
            <p><%=lsa%></p>
          </div>
          <div class="col-lg-3">
            <p><%=dsa%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <label for="">Sunday</label>
          </div>
          <div class="col-lg-3">
            <p><%=bs%></p>
          </div>
          <div class="col-lg-3">
            <p><%=ls%></p>
          </div>
          <div class="col-lg-3">
            <p><%=ds%></p>
          </div>
        </div>
      </div>
    </section>







    <section id="bottom">
      <p>With Love From Refined Technology</p>
    </section>

    <script src="index.js"></script>
  </body>
</html>
